<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Définition de l'encodage des caractères à UTF-8 -->
    <title>Password Reset</title>
    <!-- Définition du titre de la page -->
</head>
<body>
    <!-- Corps de la page -->

    <p>Click the following link to reset your password:</p>
    <!-- Message demandant à l'utilisateur de cliquer sur le lien pour réinitialiser son mot de passe -->

    <p><a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
    <!-- Lien pour réinitialiser le mot de passe, avec les variables 'domain', 'uid' et 'token' fournies dans le contexte. 'url' est une balise Django pour générer des URL à partir des noms d'URL. -->

    <p>If you didn't request a password reset, please ignore this email.</p>
    <!-- Message à afficher si l'utilisateur n'a pas demandé de réinitialisation de mot de passe -->
</body>
</html>
