<!-- créez un modèle HTML ( enable_2fa.html) pour afficher le 
formulaire de configuration 2FA. Ce modèle doit inclure des 
champs permettant aux utilisateurs de configurer 2FA, comme 
scanner un code QR ou saisir un code de vérification à partir 
de leur application d'authentification. -->

{% extends "base.html" %}

{% block content %}


  <h2>Enable Two-Factor Authentication (2FA)</h2>
<p>Scan the QR code with the Google authenticator app below enable 2FA for your account:</p>

<img src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{ qr_code_url }}" alt="QR Code">

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Enable 2FA</button>
  </form>
  
{% endblock %}
