{% extends "base.html" %}

<!-- Extension du modèle de base (base.html) -->

{% block title %}Change Password{% endblock %}

<!-- Définition du titre de la page -->

{% block content %}
<!-- Début du bloc de contenu -->

  <h2>Change Password</h2>
  <!-- Titre de la section pour changer le mot de passe -->

  <form method="post">
  <!-- Début du formulaire avec la méthode POST -->

    {% csrf_token %}
    <!-- Ajout du jeton CSRF pour protéger le formulaire contre les attaques CSRF -->

    {{ form.as_p }}
    <!-- Affichage du formulaire de changement de mot de passe avec le format paragraphe (as_p) -->

    <button type="submit">Change Password</button>
    <!-- Bouton pour soumettre le formulaire -->

  </form>
  <!-- Fin du formulaire -->

{% endblock %}
<!-- Fin du bloc de contenu -->
